body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: #4a5568;
  background-color: #fff;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  width: 600;
  height: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.caps {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #57b560;
}

.btn {
  display: inline-block;

  margin-top: 1em;
  padding: 0.5em 2em;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  background: #57b560;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.btn:hover {
  background: #59ad61;
}

.btn:active {
  background: #57b560;
}

.btn > svg {
  padding-right: 8px;
}

.center {
  text-align: center;
}

.seed-screen {
  display: none;
}

/* Deactivate container div */
.darkClass {
  background-color: white;
  filter: alpha(opacity=70); /* IE */
  opacity: 0.7; /* Safari, Opera */
  -moz-opacity: 0.7; /* FireFox */
  z-index: 20;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.checkbox-element {
  text-align: left;
  margin-bottom: 0.25em;
}

.checkbox-element input {
  margin-right: 0.5em;
}
