body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: #4a5568;
  background-color: #fff;
}

.btn {
  display: inline-block;

  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 2em;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  background: #57b560;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.btn:hover {
  background: #59ad61;
}

.btn:active {
  background: #57b560;
}

.btn > svg {
  padding-right: 8px;
}

/* Deactivate container div */
.darkClass {
  background-color: white;
  filter: alpha(opacity=70); /* IE */
  opacity: 0.7; /* Safari, Opera */
  -moz-opacity: 0.7; /* FireFox */
  z-index: 20;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
